// Color cube
$white: #ffffff;
$cod-gray: #0b0b0b;
$shady-lady: #aeadae;
$mountain-meadow: #1fad96;
$emperor: #504442;
$thunderbird: #cb1917;
$santa-fe: #ad6f5b;
$turquoise-blue: #5df0c8;
$koromiko: #ffbe6b;
$royal-blue: #4473ee;

// Median Cut
$hint-of-red: #f6f3f5;
$outer-space: #2c3837;
$edward: #9ea4a5;
$copper-rust: #975c4d;
$sandal: #ad876a;

// Material Design
$jungle-green: #25ab94;
$sandal-1: #a6846b;
$thunderbird-1: #c52618;
$gun-powder: #48495f;
$eunry: #c99f8e;
